<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="34ea659a-6cca-4bfc-9f16-c34ca8f0a30e"
           Name="CryptDisk 4.h" Language="1033" Version="4.1.0.0" Manufacturer="CryptDisk 4.h" UpgradeCode="3b928c38-3e66-4cee-b6aa-121ef9d048cf">
    <Package InstallerVersion="500" Compressed="yes" />

    <?if $(var.Platform) = "x86"?>
    <?define ProgramFilesDir="ProgramFilesFolder"?>
    <?else?>
    <?define ProgramFilesDir="ProgramFiles64Folder"?>
    <?endif?>

    <?if $(var.Configuration) = "Debug"?>
    <?define ModuleConfig="Debug"?>
    <?else?>
    <?define ModuleConfig=""?>
    <?endif?>

    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)License.rtf" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFilesDir)">
        <Directory Id="INSTALLLOCATION" Name="CryptDisk 4.h">
          <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
          <Component Id="MainProgram" Guid="d1e006b1-94ae-46aa-b8f5-b8a40622b0f5">
            <File Id="MainApp" Name="$(var.ManagerNew.TargetFileName)" Source="$(var.ManagerNew.TargetPath)" KeyPath="yes">
              <Shortcut
              Id="StartAppStartMenu"
              WorkingDirectory="INSTALLLOCATION"
              Directory="ProgramMenuFolder"
              Name="CryptDisk 4.h"
              Advertise="yes"
              Icon="$(var.ManagerNew.TargetFileName)">
              </Shortcut>
              
              <Shortcut
              Id="StartAppDesktop"
              WorkingDirectory="INSTALLLOCATION"
              Directory="DesktopFolder"
              Name="CryptDisk 4.h"
              Advertise="yes"
              Icon="$(var.ManagerNew.TargetFileName)">
              </Shortcut>
            </File>
          </Component>
          <Component Id="DriverTool" Guid="11352FBF-B356-4E95-9761-D53958CE88C1">
            <File Id="DrvTool" Name="$(var.DrvTool.TargetFileName)" Source="$(var.DrvTool.TargetPath)" KeyPath="yes"></File>
          </Component>
          <Component Id="DiskDriver" Guid="D74198E6-28CE-4FEC-A90D-4C4606A6F52D">
            <File Id="DiskDriver" Name="$(var.CryptDiskDriver.TargetFileName)"
                  Source="$(var.CryptDiskDriver-Package.TargetDir)Package\$(var.CryptDiskDriver.TargetFileName)" KeyPath="yes"></File>
          </Component>
          <Component Id="ConsoleManager" Guid="72095B89-D6E2-43B4-831E-F6BC7BDE636D">
            <File Id="ConsoleManager" Name="$(var.ConsoleManager.TargetFileName)"
                  Source="$(var.ConsoleManager.TargetPath)"/>
          </Component>
          <Merge Id="VCRedist" SourceFile="$(env.CommonProgramFiles)\Merge Modules\Microsoft_VC120_$(var.ModuleConfig)CRT_$(var.Platform).msm" DiskId="1" Language="0"/>
          <Merge Id="MFCRedist" SourceFile="$(env.CommonProgramFiles)\Merge Modules\Microsoft_VC120_$(var.ModuleConfig)MFC_$(var.Platform).msm" DiskId="1" Language="0"/>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder"></Directory>
      <Directory Id="DesktopFolder"></Directory>
    </Directory>

    <Icon Id="$(var.ManagerNew.TargetFileName)" SourceFile="$(var.ManagerNew.TargetPath)"></Icon>
    <Feature Id="ProductFeature" Title="CryptDisk 4.h" Level="1">
      <!-- TODO: Remove the comments around this ComponentRef element and the Component above in order to add resources to this installer. -->
      <ComponentRef Id="MainProgram" />
      <ComponentRef Id="DriverTool" />
      <ComponentRef Id="DiskDriver" />
      <ComponentRef Id="ConsoleManager" />
      <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
      <!--<ComponentGroupRef Id="Product.Generated" />-->
    </Feature>
    <Feature Id="VCRedist" Title="Visual C++ Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist"/>
      <MergeRef Id="MFCRedist"/>
    </Feature>

    <!--<Binary Id="CmdProcessor" SourceFile="C:\windows\System32\cmd.exe" />-->

    <CustomAction Id="InstallExec" FileKey="DrvTool" Execute="deferred" Return="check" Impersonate="no" ExeCommand="/REG CryptDisk40 &quot;[#DiskDriver]&quot;"/>
    <CustomAction Id="UninstallExecStopService" FileKey="DrvTool" Execute="deferred" Return="ignore" Impersonate="no" ExeCommand="/STOP CryptDisk40"/>
    <CustomAction Id="UninstallExecRemoveService" FileKey="DrvTool" Execute="deferred" Return="ignore" Impersonate="no" ExeCommand="/UNREG CryptDisk40"/>

    <InstallExecuteSequence>
      <Custom Action="InstallExec" After="InstallFiles">NOT Installed</Custom>
      <Custom Action="UninstallExecStopService" Before="RemoveFiles">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
      <Custom Action="UninstallExecRemoveService" After="UninstallExecStopService">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>

  </Product>
</Wix>
